html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #90278c linear-gradient(135deg, #90278c, #6e3290, #251b8b);
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;
}

.player {
  width: 480px;
  height: 270px;
  border: 10px solid #a64dab;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);

  position: relative;
}
.player__controls {
  display: flex;
  flex-wrap: wrap;

  position: absolute;
  bottom: 0;
  width: 100%;
}
.player__controls > * {
  flex: 1;
  margin: 2px 0;
}
.player__video {
  width: 100%;
}
.progress {
  flex: 100%;
  width: 100%;
  height: 20px;
  background: #361a36;
  padding: 0;
  margin: 0;
}
.progress__filled {
  width: 50%;
  height: 20px;
  background: #fdd028;
}

.player__button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

input[type=range] {
  -webkit-appearance: none;
  background:transparent;
  width: 100%;
  margin: 0 5px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255,255,255,0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow:0 0 2px rgba(0,0,0,0.2);
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bada55;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
}
button {
  outline: 0;
}
.player__button[data-skip] {
  max-width: 40px;
  font-size: 10px;
}
.fullscreen {
  max-width: 60px;
}
.toggle {
  max-width: 60px;
}


.player {
  overflow: hidden;
}
.player__controls {
  transform: translateY(calc(100% - 5px));
  transition: 0.5s;
  background: rgba(115, 48, 143, 0.62);
}
.progress, 
.progress__filled {
  height: 5px;
  transition: 0.2s linear;
}
.progress__filled {
  width: 0;
  transition: 0.2s linear;
}

.progress:hover .progress__filled,
.progress:hover {
  height: 20px;
}

.player:hover .player__controls {
  transform: translateY(0);
}


video::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls-enclosure {
  display:none !important;
}

.player__controls {
  z-index: 2147483647;
  left: 0;
  bottom: 0;
}